.cabinet-main{
	margin-top: 100px;
}
.card{
	padding-top: 10px;
}
.history{
	background-color: #86BBD8;
}
.recomendation{
	background-color: #EB5E28;
}
.three{
	background-color: #F5A65B;
}
.four{
	background-color: #1C6E8C;
}
.fifth{
	background-color: #B8D5B8;
}