
.navbar-default{
	padding-top: 20px;
	background-color: transparent !important;
	border: none !important;
	.navbar-brand{
		color: white;
	}
}

.navbar{
	border-radius: 0px;
	box-shadow: 4px 0px 0px 0px rgba(0,0,0,.6);
}


